* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
body {
    margin: 25px;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    margin-bottom: 10px;
}
.header2 {
    display: flex;
    align-content: center;
    justify-content: center;
}
.searchForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: left;
}

.searchbar {
    width: 30%;
    margin-left: 5%;
}
.header2 input {
    margin: 1px;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}
.header2 select {
    margin: 1px;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
}

.header2 .lupa {
    margin: 1px;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    background-color: blue;
    border-color: darkblue;
    color: white;
    width: 40px;
}
.grejbaton {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    margin: 5px;
}
#main {
    display: flex;
    justify-content: center;

    flex-direction: row;
    margin-bottom: 50px;
}
#obrazproduktu {
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 500px;
}
#opisproduktu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    padding: 15px;
}
#kody {
    width: 100%;
}
#spece {
    width: 100%;
}
#kupowanie {
    border: 1px solid gainsboro;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 34%;
    height: 500px;
}
#obrazek {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#kup {
    cursor: pointer;
    width: 200px;
    height: 100px;
    background-color: darkblue;
    border: 5px solid rgb(0, 0, 70);
    border-radius: 25px;
    transition: background-color 0.3s ease;
    box-shadow: 10px 10px rgba(0, 0, 25, 0.500);
}
#kup:hover {
    background-color: rgb(0, 0, 75);
    border-color: rgb(0, 0, 35);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#kup:active {
    background-color: darkblue;
    border: 5px solid rgb(0, 0, 70);
}
.opis {
    padding: 30px;
    border: 1px solid gainsboro;
    border-radius: 15px;
}
.rozLista {
    display: none;
}
.duzygrid {
    width: 75%;
    height: 75vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
}
.bibliotekaProdukt {
    width: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}
.bibliotekaProdukt img {
    height: 100px;
}
.koszyk {
    display: none;

    position: fixed;
    top: 100px;
    right: 125px;

    height: 500px;
    width: 350px;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px rgba(0, 0, 0, 0.467);

    border: 5px solid gainsboro;
    border-radius: 15px;
    background-color: rgb(228, 228, 228);
}

.koszyk img {
    width: 100%;
    justify-self: center;
    align-self: center;
    border: 1px none black;
    border-radius: 15px;
}

.koszyk p {
    font-size: 10px;
}

.koszykprodukt {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    /* list-style-position: inside; */
    overflow: hidden;
    overflow-y: scroll;
}