* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
body{
    margin: 25px;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    margin-bottom: 10px;
}
.header2{
    display: flex;
    align-content: center;
    justify-content: center;
}
.searchbar{
    width: 30%;
    margin-left: 5%;
}
.header2 input, select, .lupa{
    margin: 1px;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px
}
.header2 .lupa{
    background-color: blue;
    border-color: darkblue;
    color: white;
    width: 40px;
}
.grejbaton{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 3px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    margin: 5px;
}
#main{
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    margin-bottom: 50px;
}
#obrazproduktu{
    border: 1px solid gainsboro;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 500px;
}
#opisproduktu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    padding: 15px;
}
#kody{
    width: 100%;
}
#spece{
    width: 100%;
}
#kupowanie{
    border: 1px solid gainsboro;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 34%;
    height: 500px;
}
#obrazek{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#kup{
    cursor: pointer;
    width: 200px;
    height: 100px;
    background-color: darkblue;
    border: 5px solid rgb(0, 0, 70);
    border-radius: 25px;
    transition: background-color 0.3s ease;
    box-shadow: 10px 10px rgba(0, 0, 25, 0.500);
}
#kup:hover{
    background-color: rgb(0, 0, 75);
    border-color: rgb(0, 0, 35);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#kup:active{
    background-color: darkblue;
    border: 5px solid rgb(0, 0, 70);
}
.opis{
    padding: 30px;
    border: 1px solid gainsboro;
    border-radius: 15px;
}
.rozLista{
    display: none;
}